.link {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #3c82f6;
  transition: width 0.3s;
}
.link:hover::before {
  width: 100%;
}
.primaryLink {
  color: #3c82f6;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
}
.primaryLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s;
}
.primaryLink:hover::before {
  width: 100%;
}
@keyframes colorIn {
  0% {
    color: white;
  }

  100% {
    color: #3c82f6;
  }
}
