.label {
  font-size: 1, 5rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: left;
}
.input {
  padding: 8px;
  width: 400px;
  background-color: transparent;
  border-bottom: 1px solid white;
}
/* Change the white to any color */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  text-align: center;
}
.input:focus::placeholder {
  color: transparent;
}
